img {
  width: 150px;
}
.imgTitle{
  margin-top: 0px;
  margin-bottom: -10px;
}
#form-menu {
  min-width: 300px;
  padding: 15px 20px;
}
#imagePreview {
  text-align: center;
}
.masonry-brick {
  width: 200px;
  background: #ffe6ff;
  padding: 10px;
  margin: 3px;
  border: 6px solid white;
  box-shadow: 2px 2px 5px rgba(102, 102, 102, 0.5);
}
.grid{
  position:relative;
  margin:0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
body {
  text-align: center;
  background: #e6eeff;
  font-family: cursive;
}
.navbar-default {
  background: #ffe6ff;
  border-color: white;
}
a {
  color: black !important;
}
#signIn {
  margin-top: 4px;
  padding: 10px;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  background: #ffe6ff;
  border: 1px solid white;
}
.fa-heart-o, .fa-heart {
  color: red;
}
.fa-times {
  color: white;
}
.active {
  color: white !important;
  background: black !important;
}
