<html ng-app='pictureApp'>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Pint-erest</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  </head>
  <body ui-view>
    <div class="container">
      <% include includes/_nav.ejs %>


      <% include includes/_footer.ejs %>
    </div>
  </body>
  <script src='pictureApp.js'></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
</html>
