<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header"><a href="/#/" class="navbar-brand">Pint-erest</a>
      <button type="button" data-toggle="collapse" data-target="#navbar-main" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
    </div>
    <div id="navbar-main" class="navbar-collapse collapse">
      <ul ng-if="navvm.user" class="nav navbar-nav">
        <li ng-click="navvm.getAllPics()" class="nav-item">
          <a class="nav-link" href="#">All Pics</a>
        </li>
        <li ng-click="navvm.getUserPics(navvm.user.twitter.displayName)" class="nav-item">
          <a class="nav-link" href="#">Your Pics</a>
        </li>
        <li class="dropdown">
          <a ng-click="navvm.removeAlerts()" class="dropdown-toggle" data-toggle="dropdown" href="#">Add Pic<span class="caret"></span></a>
          <ul class="dropdown-menu" id="form-menu" role="menu">
            <form ng-submit="navvm.postPic(navvm.formData)">
              <li class="form-group">
                <label for="text">Title</label>
                <input type="text" class="form-control" ng-model="navvm.formData.title">
              </li>
              <li class="form-group">
                <label for="text">Image Url</label>
                <input type="text" class="form-control" ng-model="navvm.formData.image_url">
              </li>
              <li>
                <input class="btn btn-primary" type='submit' value='Submit'>
              </li>
            </form>
            <li id="imagePreview">
              <div class="alert-danger" ng-show="navvm.imageError">{{ navvm.imageError }}</div>
              <div class="alert-success" ng-show="navvm.imageSent">{{ navvm.imageSent }}</div>
              <img ng-src='{{ navvm.formData.image_url }}' default-image="http://www.novelupdates.com/img/noimagefound.jpg">
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-if="navvm.user" class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">{{ navvm.user.twitter.displayName }}<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/profile">Profile</a></li>
            <li><a ng-click="navvm.logout()" href="">Logout</a></li>
          </ul>
        </li>
        <li ng-if="!navvm.user">
          <a class='btn btn-default' href="/auth/twitter"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i> Sign in</a>
        </li>
      </ul>
    </div>
  </div>
</div>
